{% extends 'base.html' %}
{% block extra_head%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-TW.min.js"></script>
<script>
function LinkFormatter(value, row, index) {
  return "<a target=\"_blank\" href='"+"/reply/" + row.key+"'>"+"<span class=\"glyphicon glyphicon glyphicon-circle-arrow-right\"></span>"+"</a>";
}

function RowFormatter(value, row, index) {
  return  ""
    + "問題:<br/>"
    + "<font size=-1>"+ row.question_short + "</font>" + "<br/>"
    + "答案:<br/>"
    + "<font size=-1>"+ row.answer_short + "</font>"
    + "";
}


</script>
<style>
.table-bordered td, .table-bordered th{
    border:0px solid #103265 !important;
}

.glyphicon {
    font-size: 50px;
}
</style>
{% endblock%}
{% block content %}
<div class="container-full" style="text-align:center;margin:0px;width:100%">
  <div class="jumbotron" style="width:100%;text-align:center;background-color:#3484fd;color:#fff">
    <center>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=205317903140183";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div style="height:80px">
<div class="fb-like" data-href="https://www.facebook.com/g0vhk.io/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div></div>
    <h1>財務委員會書面答覆搜尋器</h1> 
    <br/>
    <div class="input-group" style="width:30%">
        <input type="text" class="form-control" placeholder="關鍵字" aria-describedby="basic-addon1">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">搜尋</button>
        </span>
    </div>

    </center>
  </div>
  <div class="container-full" style="margin-top:10px;margin-left:20px;margin-right:20px;margin-bottom:20px;">

   <div class="container-full" style="text-align:left;"><h2>搜尋結果</h2></div>
    <table data-toggle="table" class="table table-bordered" data-url="/api/search">
    <thead style="background-color:#5895f3;color:#fff">
        <tr>
            <th data-field="year">年份</th>
            <th data-field="member">提問人</th>
            <th data-field="director">局長</th>
            <th data-formatter="RowFormatter">答覆</th>
            <th data-formatter="LinkFormatter">連結</th>
        </tr>
    </thead>
</table>
  </div>
    
</div>
<script>
$(document).ready(function () {
  $('.fixed-table-body').css('height','auto');
});
</script>
{% endblock %}
