{% extends 'base.html' %}
{% block content %}
<div class="container-full" style="margin:0px;width:100%">
  <div class="jumbotron" style="width:100%;text-align:center;background-color:#3484fd;color:#fff">
    <h1>財務委員會書面答覆搜尋器</h1> 
  </div> 
  <div style="padding-left:10px;padding-right:10px">
  <div class="panel panel-info" style="width:25%">
      <div class="panel-heading">管制人員的答覆</div>
      <table class="table">
        <tr><td width="100">提問人:</td><td>{{reply.member}}</td></tr>
        <tr><td width="100">局長:</td><td>{{reply.director}}</td></tr>
        <tr><td width="100">總目:</td><td>{{reply.head}} ({{reply.head_number}})</td></tr>
        {%if  not reply.sub_head == ""%}
        <tr><td width="100">分目:</td><td>{{reply.sub_head}} ({{reply.sub_head_number}})</td></tr>
        {%endif%}
        <tr><td width="100">管制人員:</td><td>{{reply.controlling_officer_title}} ({{reply.controlling_officer_name}})</td></tr>
        <tr><td width="100">綱領:</td><td>{{reply.programme}}</td></tr>
        <tr><td width="100">答覆編號:</td><td>{{reply.reply_serial_no}}</td></tr>
      </table>
  </div>
  <div class="panel panel-primary">
      <div class="panel-heading">問題:</div>
      <div class="panel-body">{{reply.question|safe}}</div>
  </div>
  <div class="panel panel-success">
      <div class="panel-heading">答覆:</div>
      <div class="panel-body">{{reply.answer|safe}}</div>
  </div>
</div>
{% endblock %}
